* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

html {font-size: 625%; }

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html { font-size: 703%; }
}
@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html { font-size: 732.4%; }
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html { font-size: 750%; }
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html { font-size: 781.25%; }
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
    html { font-size: 808.6%; }
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    html { font-size: 843.75%; }
}

html, body{
    /*height: 100%;*/
    /*position: relative;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
    /*-webkit-user-select:none;*/
    /*-webkit-tap-highlight-color: transparent;*/
}

/*@font-face*/
/*{*/
    /*font-family: ;*/
    /*src: url('../img/');*/
/*}*/


.background{
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    left: 0;
    position: absolute;
    top: 0;
    /*z-index: 1;*/
    display: flex;
    opacity: 1;
    flex-direction:column;
    /*justify-content: center;*/
    align-items: center;
}

.begin{
    position: absolute;
    width: 1.3rem;
    height: 0.3rem;
    top: 80%;
    z-index: 3;
}

.buttonTop{
    position: absolute;
    width: 1.3rem;
    top: 80%;
    z-index: 3;
}

.photograph{
    width: 100%;
    height: 100%;
    background: url(../img/paizhao.jpg) no-repeat;
    background-size: 100% 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction:column;
    /*justify-content: center;*/
    align-items: center;
}

.buttonBottom{
    position: absolute;
    width: 1.3rem;
    top: 80%;
    z-index: 3;
}

#picture{
    position: absolute;
    width: 1.98rem;
    height: 50.1%;
    margin-left: 0.05rem;
    top: 25%;
    /*background-color: black;*/
    z-index: 3;
}

#picture img{
     position: absolute;
     width: 1.98rem;
     height: 100%;
     /*background-color: black;*/
     z-index: 3;
 }

.card{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*     loading        */
#wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6) none repeat scroll !important;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    z-index: 30;
}